streamlit_option_menu
streamlit_authenticator
selenium~=4.4.3
xlsxwriter~=3.0.3
openpyxl~=3.0.10

streamlit~=1.12.2
PyYAML~=6.0
pandas~=1.4.3
numpy~=1.23.2
webdriver_manager
libglib2.0-0=2.50.3-2 
libnss3=2:3.26.2-1.1+deb9u1
libgconf-2-4=3.2.6-4+b1 
libfontconfig1=2.11.0-6.7+b1
